.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 200px;
    z-index: 1000;
    display: none;
    overflow-y: auto;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 8px 20px;
    cursor: pointer;
}

.dropdown-menu li.highlighted {
    background-color: #B6BBC4;
}

.form-group > .dropdown {
    width: 100%;
}

.error {
    visibility: hidden;
    min-height: 20px;
    color: red;
    margin: 5px 0;
    font-size: 0.875rem;
}

.error-visible {
    visibility: visible;
}

.form-group {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.form-input,
.dropdown-toggle {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
}

.form-input,
.dropdown,
.dropdown-toggle,
.dropdown-menu {
	width: 100%;
    min-width: 200px;
	box-sizing: border-box;
}

.form-input:focus,
.dropdown-toggle:focus,
.focused {
    outline: none;
    border-color: #31304D;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.5); 
}
